.wrap {
  @apply flex flex-col gap-8;

  > h1 {
    @apply text-[32px];
  }

  > ul {
    @apply relative flex flex-col gap-2;

    transform-style: preserve-3d;
    transform: perspective(1000px);

    > li:nth-child(1) {
      @apply rounded-t-lg;
    }

    > li:last-child {
      @apply rounded-b-lg;
    }

    > li {
      @apply p-4 bg-[#282828] text-white text-base;
      transition: 0.5s;

      &:hover {
        transform: translateZ(10px);
      }
      &:hover + * {
        transform: translateZ(10px) rotateX(-10deg);
      }
      &:hover + * + * {
        transform: translateZ(10px) rotateX(-5deg);
      }

      &:has(+ *:hover) {
        transform: translateZ(10px) rotateX(10deg);
      }
      &:has(+ *:hover) {
        transform: translateZ(10px) rotateX(5deg);
      }
    }

    > img {
      @apply absolute bottom-0 left-0 rotate-45;
    }
  }
}
