.main {
  @apply lg:w-full lg:pt-[120px] lg:pb-10 lg:px-5 lg:overflow-y-auto bg-gray rounded-xl;
}

.wrap {
  > div:nth-child(2) {
    @apply flex flex-col gap-2 pb-10 border-b border-brightGray;

    > h1 {
      @apply text-[32px];
    }

    > p {
      @apply text-lg text-brightGray font-medium;
    }
  }

  > div:nth-child(3) {
    @apply flex flex-col gap-1 pt-10;

    > a {
      @apply text-white text-base;
    }

    > p {
      @apply text-brightGray text-sm;
    }
  }
}
